@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  --border-color: var(--color-background-300, rgba(38, 85, 115, 0.15));
}

#root > div > div {
  border-right: 1px solid var(--border-color);
}

.sidebar-item {
  --tree-node-background-hover: var(--color-background-200, #012f4c);
  color: var(--color-text-800) !important;
}

.sidebar-item[data-selected="true"] {
  color: var(--color-text-100) !important;
}
.sidebar-item[data-selected="true"] svg {
  color: currentColor !important;
}

[data-ref-id="storybook_internal"][data-item-id]:not(
    [data-selected="true"]
  )[data-nodetype]:hover,
[data-ref-id="storybook_internal"][data-item-id]:not(
    [data-selected="true"]
  )[data-nodetype]:focus {
  --tree-node-background-hover: var(--color-background-200, #012f4c);
  background: var(--tree-node-background-hover);
}

.sidebar-container *[data-selected="true"] {
  background-color: var(--color-background-500, rgb(2, 156, 255));
}

.sidebar-container *[data-selected="true"]:hover {
  --tree-node-background-hover: var(
    --color-background-500,
    rgb(2, 156, 255)
  ) !important;
}

.sidebar-container *:hover {
  --tree-node-background-hover: var(--color-background-200, #012f4c);
}

.sidebar-container button:has(> svg):hover {
  --tree-node-background-hover: var(--color-background-200, #012f4c);
  color: var(--color-text-900, rgb(2, 156, 255));
  background: var(--color-background-200, transparent);
}

.container {
  background-color: var(--color-background-100, rgb(34, 36, 37));
}

.sidebar-container div[role="combobox"] + div button {
  background-color: var(--color-background-100, rgb(34, 36, 37));
}

.sidebar-header div:has(a) {
  color: var(--color-text-900, rgb(201, 205, 207));
}

.sidebar-container .search-field {
  box-shadow: none;
  border: 1px solid var(--border-color, rgba(255, 255, 255, 0.1));
}

.sidebar-container .search-field:hover,
.sidebar-container .search-field:focus-within {
  box-shadow: none;
  border-color: var(--border-color, rgb(2, 156, 255));
}

.sidebar-container div:has(> .search-field) > div:last-of-type button {
  box-shadow: none;
  border: 1px solid var(--border-color, rgba(255, 255, 255, 0.1));
}

#sidebar-bottom-wrapper {
  display: none;
}

.sb-bar {
  background: var(--color-background-100, black) !important;
}
.sb-bar button {
  color: var(--color-text-800, rgb(201, 205, 207)) !important;
}
.sb-bar button svg {
  color: inherit !important;
}
